body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(180, 180, 180);
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 5px 10px 8px 10px #888888;
}

.title{
 margin: 0;
 margin: 50px 0;
 align-items: center;
}

.sub-title{
 margin: 0;
 margin: 5px 0;
 width: 100%;
}

.form-floating{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btn{
  width: 100%;
  margin-bottom: 40px;
}

.table{
  outline:auto;
}

.table a{
  text-decoration: none;
  font-size: 15px;
  color: #727070;
  display: inline-block;
}

.icons{
  margin-left: 5px;
}

.table tbody tr th td{
  margin: 0;
  padding: 0;
}

.tab{
  width: 100%;
}